html, body {
    height: 100%;
}

body {
    background-color: lightgrey;
    
}

/*NAV*/
.nav {
    width: 20%;
    height: 50px; /*target 50 / contexto 1080  */
    margin: 0 auto;
    text-align: center;
    background-color: #eacac3;
    position: relative;
    
}

ul {
    list-style: none;
    padding-left: 0px;
}

li {
    margin: 10px;
    display: inline-block;
}

.container {
    width: 40%;
    height: 150px;
    margin: 0 auto;
    background-color: white;
    padding: 20px;
    position: relative;
}

.container table {
    background-color: white;
    margin: 0 auto;
    padding: 20px;
}

.container table th, td {
    padding: 20px;
}

h1 {
    text-align: center;
    margin: 0;
}

#back {
    position: absolute;
    top: 20px;
    left: -200px;
    
}

#back:hover {
    color: black;
}

a {
    font: bold Calibri, sans-serif;
    font-size: 18px; /* target 20 / context 16 = 1.25 */
    text-decoration: none;
    color: grey;
}